/*
Colors
#000000
#004E64
#00A5CF
#69DC9E
#9FFFCB*/
body {
	background-color: #000000;
}
/* navbar */
.navbar-default {
    background-color: #00A5CF;
    border: none;
}
/* Title */
.navbar-default .navbar-brand {
    color: white;
}
.collapse .navbar-collapse {
	color: white;
}
#profile-pic {
	text-align:center;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}