body, html {
	color: white;	
    height: 100%;
}

#page0, #page1, #page2, #page3, #page4 {
	/*height: 100%;*/
	height: 500px;
	/*float: right;*/
}

#page0 {
	background-color: #BE0000;
}
#page1 {
	background-color: #E82C00;
}
#page2 {
	background-color: #FF6100;
}
#page3 {
	background-color: #FF9D17;
}
#page4 {
	background-color: #FFC92E;
}