.navbar-fixed-left {
  width: 250px;
  position: fixed;
  height: 100%;
  background-color: #3A3238;
}

.navbar-nav {
  padding-top: 150px;
}
.navbar-fixed-left .navbar-nav > li {
  /*float: none;   Cancel default li float: left */
  text-align: center;
  width: 250px;
}

.navbar-fixed-left + .container {
  padding-left: 300px;
  padding-top: 150px;
  display: inline-block;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}