.navbar-fixed-left {
  position: fixed;
  background-color: #3A3238;
  border-radius: 5px; 
  bottom: 40%;
  top: auto;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;   /*Cancel default li float: left*/ 
  text-align: center;
  font-weight: 600; 
  font-size: 15px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-fixed-left + .container {
  display: inline-block;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}